body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:390px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:390px;
  display:flex;
  opacity:0.7;
}
#u1050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:155px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:134px;
  width:233px;
  height:145px;
  display:flex;
}
#u1052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:151px;
  width:40px;
  height:23px;
  display:flex;
  color:#CF2323;
  text-align:center;
}
#u1053 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1053_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 4px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 4px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 4px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u1054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#DE1919;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:201px;
  width:165px;
  height:17px;
  display:flex;
  font-size:15px;
  color:#DE1919;
}
#u1054 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1054_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(204, 102, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"方正舒体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:234px;
  width:70px;
  height:29px;
  display:flex;
  font-family:"方正舒体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u1055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:230px;
  width:68px;
  height:20px;
  display:flex;
}
#u1057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:59px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:166px;
  width:60px;
  height:59px;
  display:flex;
}
#u1058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文琥珀", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:234px;
  width:52px;
  height:13px;
  display:flex;
  font-family:"华文琥珀", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u1059 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1059_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:74px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:161px;
  width:71px;
  height:74px;
  display:flex;
}
#u1060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:231px;
  width:94px;
  height:20px;
  display:flex;
}
#u1062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"华文琥珀", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:234px;
  width:78px;
  height:13px;
  display:flex;
  font-family:"华文琥珀", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u1063 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1063_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:168px;
  width:60px;
  height:58px;
  display:flex;
}
#u1064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:74px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:162px;
  width:71px;
  height:74px;
  display:flex;
}
#u1065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:79px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:172px;
  width:73px;
  height:69px;
  display:flex;
}
#u1067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:195px;
  width:38px;
  height:23px;
  display:flex;
  font-family:"华文琥珀", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FBFBFB;
}
#u1068 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1068_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 3px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 3px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 3px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:79px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:172px;
  width:73px;
  height:69px;
  display:flex;
}
#u1070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:195px;
  width:38px;
  height:23px;
  display:flex;
  font-family:"华文琥珀", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FBFBFB;
}
#u1071 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1071_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 3px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 3px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 3px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
