body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:390px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:390px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:74px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:30px;
  width:719px;
  height:64px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_img.mouseOver {
}
#u480.mouseOver {
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:30px;
  width:91px;
  height:60px;
  display:flex;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:35px;
  width:36px;
  height:30px;
  display:flex;
  opacity:0;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:44px;
  width:65px;
  height:39px;
  display:flex;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u484_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u484_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u484_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u484_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:49px;
  width:105px;
  height:28px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u484_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u484.hint {
}
#u484_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u484.disabled {
}
#u484_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u484.hint.disabled {
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:48px;
  width:48px;
  height:24px;
  display:flex;
}
#u485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u486_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u486_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u486_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:39px;
  width:207px;
  height:42px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u486_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u486.hint {
}
#u486_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u486.disabled {
}
#u486_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u486.hint.disabled {
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:35px;
  width:88px;
  height:50px;
  display:flex;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:74px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:260px;
  width:719px;
  height:64px;
  display:flex;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_img.mouseOver {
}
#u489.mouseOver {
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:261px;
  width:91px;
  height:60px;
  display:flex;
}
#u490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:265px;
  width:36px;
  height:30px;
  display:flex;
  opacity:0;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:278px;
  width:48px;
  height:24px;
  display:flex;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:274px;
  width:65px;
  height:39px;
  display:flex;
}
#u493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u494_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u494_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u494_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u494_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:280px;
  width:105px;
  height:28px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u494_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u494.hint {
}
#u494_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u494.disabled {
}
#u494_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u494.hint.disabled {
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:265px;
  width:88px;
  height:50px;
  display:flex;
}
#u495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u496_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u496_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u496_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u496_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:269px;
  width:207px;
  height:42px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u496_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u496.hint {
}
#u496_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u496.disabled {
}
#u496_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u496.hint.disabled {
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:74px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:103px;
  width:719px;
  height:64px;
  display:flex;
}
#u498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u498_img.mouseOver {
}
#u498.mouseOver {
}
#u498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:103px;
  width:91px;
  height:60px;
  display:flex;
}
#u499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:116px;
  width:65px;
  height:39px;
  display:flex;
}
#u500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u501_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u501_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u501_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:122px;
  width:105px;
  height:28px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u501_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u501.hint {
}
#u501_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u501.disabled {
}
#u501_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u501.hint.disabled {
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:121px;
  width:48px;
  height:24px;
  display:flex;
}
#u502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u503_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u503_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u503_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:113px;
  width:207px;
  height:42px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u503_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u503.hint {
}
#u503_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u503.disabled {
}
#u503_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:42px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u503.hint.disabled {
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:109px;
  width:88px;
  height:50px;
  display:flex;
}
#u504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:73px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:177px;
  width:719px;
  height:63px;
  display:flex;
}
#u506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u506_img.mouseOver {
}
#u506.mouseOver {
}
#u506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:59px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:176px;
  width:91px;
  height:59px;
  display:flex;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:189px;
  width:65px;
  height:39px;
  display:flex;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u509_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u509_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u509_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#FEDA52;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u509_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:194px;
  width:105px;
  height:27px;
  display:flex;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u509_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u509.hint {
}
#u509_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u509.disabled {
}
#u509_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(254, 218, 82, 1) inset;
  font-family:"华文琥珀 Oblique", "华文琥珀", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FEDA52;
}
#u509.hint.disabled {
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:192px;
  width:48px;
  height:24px;
  display:flex;
}
#u510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u511_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u511_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u511_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u511_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  padding:2px 2px 2px 2px;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:187px;
  width:207px;
  height:41px;
  display:flex;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u511_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(203, 192, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u511.hint {
}
#u511_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u511.disabled {
}
#u511_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Cursiva", "Brush Script MT", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u511.hint.disabled {
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:182px;
  width:88px;
  height:50px;
  display:flex;
}
#u512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:356px;
  width:19px;
  height:20px;
  display:flex;
}
#u513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:356px;
  width:19px;
  height:20px;
  display:flex;
}
#u514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(162, 209, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:343px;
  width:150px;
  height:35px;
  display:flex;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(162, 209, 243, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:343px;
  width:150px;
  height:35px;
  display:flex;
  font-family:"Brush Script MT Italic Bold", "Brush Script MT", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:20px;
}
#u516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:41px;
  height:20px;
  display:flex;
}
#u517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
